<ul>
    <% @articles.each do |article| %>
  <li>
      <h3><%= link_to article.title, article_path(article) %></h3>
      <p><%= article.content %></p>
      <p><%=
      link_to "Delete article",
        article_path(article),
        method: :delete,
        data: {confirm: "Are you sure?"}
       %>
       </p>
  </li>
    <% end %>
</ul>
